<!-- <form [formGroup]="form" (ngSubmit)="saveForm()">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>name</mat-label>
      <input type="text" class="form-control" formControlName="name" matInput required><br />
    </mat-form-field>
    @if (form.controls['name'].errors && form.controls['name'].touched ) {
    <span *ngIf="form.controls['name'].errors['required']">
      <mat-error class="error">Name is required </mat-error>
    </span>
    <span *ngIf="form.controls['name'].errors['minlength']">
      <mat-error class="error">The gift name will contain at least 2 characters</mat-error>
    </span>
    <span *ngIf="form.controls['name'].errors['maxlength']">
      <mat-error class="error">The gift name will contain up to 50 characters</mat-error>
    </span>
    }
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>donator</mat-label>
    <select matNativeControl required [formControl]="selectFormControl">
      <option></option>
      @for(donator of donators; track $index){
      <option>{{donator.name}}</option>
      }
    </select>
    @if(selectFormControl.hasError('required')){
    <mat-error>Please choose an donator</mat-error>
    }
  </mat-form-field><br />
  

  <mat-form-field class="example-full-width">
    <mat-label>price</mat-label>
    <input type="text" class="form-control" formControlName="price" matInput required><br />
  </mat-form-field><br />
  @if(form.controls['price'].errors && form.controls['price'].touched){
  <span *ngIf="form.controls['price'].errors['required']"><mat-error class="error">price is
      <strong>required</strong></mat-error></span>
  <span *ngIf="form.controls['price'].errors['max']">עלות הכרטיס לא תפחת מ-10 שח</span>
  <span *ngIf="form.controls['price'].errors['max']">עלות הכרטיס לא תעלה על 150 שח</span>
  }

  <button type="submit">שליחה</button>
</form> -->

<mat-dialog-content>
  <h2 mat-dialog-title>Add a new gift</h2>


  <form [formGroup]="form" (ngSubmit)="saveForm()">
    <!-- שם -->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>name</mat-label>
        <input type="text" class="form-control" formControlName="name" matInput required><br />
      </mat-form-field>
      @if (form.controls['name'].errors && form.controls['name'].touched ) {
      <span *ngIf="form.controls['name'].errors['required']">
        <mat-error class="error">Name is required </mat-error>
      </span>
      <span *ngIf="form.controls['name'].errors['minlength']">
        <mat-error class="error">The gift name will contain at least 2 characters</mat-error>
      </span>
      <span *ngIf="form.controls['name'].errors['maxlength']">
        <mat-error class="error">The gift name will contain up to 50 characters</mat-error>
      </span>
      }
    </div>


     <!-- קטגוריה -->
     <mat-form-field class="example-full-width">
      <mat-label>category</mat-label>
      <select matNativeControl formControlName="category" required>
        <option value="">Choose a category</option>
        <option *ngFor="let categor of categories" [value]="categor.name">{{categor.name}}</option>
      </select>
      <mat-error *ngIf="form.controls['category'].hasError('required')">
        Please choose a category
      </mat-error>
    </mat-form-field>


    <!-- תורם -->


    <mat-form-field class="example-full-width">
      <mat-label>Donator</mat-label>
      <select matNativeControl formControlName="donator" required>
        <option value="">Choose a donator</option>
        <option *ngFor="let donator of donators" [value]="donator.name">{{donator.name}}</option>
      </select>
      <mat-error *ngIf="form.controls['donator'].hasError('required')">
        Please choose a donator
      </mat-error>
    </mat-form-field>


    <!-- מחיר -->
    <mat-form-field class="example-full-width">
      <mat-label>price</mat-label>
      <input type="text" class="form-control" formControlName="price" matInput required><br />
    </mat-form-field><br />
    @if(form.controls['price'].errors && form.controls['price'].touched){
    <span *ngIf="form.controls['price'].errors['required']"><mat-error class="error">price is
        <strong>required</strong></mat-error></span>
    <span *ngIf="form.controls['price'].errors['min']">The cost of the ticket will not be less than 10</span>
    <span *ngIf="form.controls['price'].errors['max']">The ticket price will not exceed 150</span>
    }
    <!-- תמונה -->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>image</mat-label>
        <input type="text" class="form-control" formControlName="image" matInput required><br />
      </mat-form-field>
      @if (form.controls['image'].hasError('required') && form.controls['price'].touched){
        <mat-error class="error">Image is required </mat-error>
      }
    </div>
  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>ביטול</button>
  <button mat-button (click)="saveForm()">שמור</button>
</mat-dialog-actions>